name: Deploy to Development
concurrency:
  group: deploy-development
  cancel-in-progress: true
on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    uses: aboubak-art/wk-lib/.github/workflows/deploy-docker.yaml@v1.6.3
    with:
      app_name: aboubak-art
      image_tag: latest
      context: aws
      deploy_stage: Production
      deploy_port: 3003
      dns_name: aboubak.art
      with_commit_image: false
    secrets:
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      aws_default_region: ${{ secrets.AWS_DEFAULT_REGION }}
      registry: ${{ secrets.AWS_ECR_REGISTRY }}
      ssh_key: ${{ secrets.SSH_PRIVATE_KEY }}
      ssh_user: ${{ secrets.SSH_USER }}
      ssh_host: ${{ secrets.SSH_HOST }}
      ssh_port: ${{ secrets.SSH_PORT }}
      deploy_env: ${{ secrets.ENV }}